header{
    width: 100%;
    height: 70px;
}
main{
    width: 100%;
    height: calc(100vh - 70px);
}
.debug{
    padding: 20px;
    background-color: red;
    border: 1px solid black;
}
aside{
    width: 150px;
    height: 100%;
}
.content{
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
}
@media only screen and (max-width: 768px){
    aside{
        width:70px;
    }
    .content{
        width: calc(100% - 70px);
    }
}

/* HEADER SECTION  */
header i{
    font-size: 15px;
    color: #5b5858;
}
.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }
.mc-navbar-height{
    height: 100%;
}
.mc-icon-width{
    width: fit-content !important;
}
.fa-bell{
    color: #ff8000;
}
.mc-logo-small{
    width: 50px;
}
 @media only screen and (max-width: 992px){
    header .nav-item:not(:last-child){
        display: none;
    }
 }

/* ASIDE SECTION  */

aside{
    background-color: #051e34;
}
aside a{
    background-color: #051e34 !important;
    padding: 0 !important;
}
aside i{
    padding: 0 5px;
    color: white;
    font-size: 15px;
}
aside .list-group-item-action{
    background-color: #5b5858;
}
.action--text{
    color: white;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 5px;
}
aside a:hover{
    background-color: rgba(237,231,225, 0.5) !important;
}

@media only screen and (max-width:768px){
    aside h2{
        display: none;
    }
    .fa-house, 
    .fa-chart-simple, 
    .fa-signal,
    .fa-gear{
        font-size: 25px;
        padding: 5px 5px;
    }
}

/* CONTENT SECTION  */
.content{
    height:auto
}
/* UPPER CONTENT SECTION  */

.mc-action{
    background-color: #1b72e8;
    height: 130px;
}

.content .mc-color-pills{
    background-color: #165bba !important;
}
.content .mc-color-pills:last-child{
    display: none;
}
.mc-font-size{
    font-size: 12px;
}
.content .offcanvas{
    width: 50% !important;
}

@media only screen and (max-width:768px){
    .content .offcanvas{
        width: 100% !important;
    }
    .content .mc-color-pills:last-child{
        display: inline-block;
    }
    .content .mc-color-pills{
        display: none;
    }
    .content .btn-small {
        display: inline-block;
    }
}
 @media only screen and (max-width:576px){
    .content .row:first-child{
        flex-direction: column;
        gap: 13px;
    }
    .content .col-6:last-child{
        order: -1;
    }
 }


 /* LOWER SECTION CONTENT  */
.mc-table-card{
    height: calc(100% - 130px);
}
.mc-table-card .logo-class{
    width: 20px;
    height: 20px;
}
.mc-table-card p{
    font-size: 15px;
}



.card .statistica{
    width: 100%;
    height: 250px;
}

@media only screen and (max-width:576px){
    .mc-action{
        height: 260px;
    }
}






